@import "../../../styles/variables";

.selector-playback {
  position: relative;
  width: 90%;
  max-width: 320px;
  @include flex(center, flex-start, column);
  z-index: 999;

  &__title {
    font-size: $font-size-24;
  }

  &__content {
    width: 100%;
    @include flex(center, center, row);
    gap: $spacing-12;
    margin-top: $spacing-24;
    flex-wrap: wrap;
  }

  &__bpm-input-wrapper {
    @include flex(center, center, column);
    gap: $spacing-8;
    min-width: 80px;
  }

  &__bpm-label {
    font-size: $font-size-14;
    font-weight: $font-weight-bold;
    color: $color-light-100;
    text-align: center;
  }

  &__bpm-input {
    width: 100%;
    padding: $spacing-8 $spacing-12;
    background-color: $color-dark-400;
    color: $color-light-100;
    border: 1px solid $color-dark-300;
    border-radius: 4px;
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    text-align: center;
    outline: none;
    transition: border-color 0.2s ease, background-color 0.2s ease;

    &:focus {
      border-color: $color-red-dark;
      background-color: $color-dark-300;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &__select {
    position: relative;
    height: auto;
    width: auto;
    min-width: 80px;
    color: $color-dark-100;
  }

  &__button {
    padding: $spacing-8 $spacing-16;
    background-color: $color-red-dark;
    color: $color-light-100;
    border: none;
    border-radius: 4px;
    font-size: $font-size-14;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.9;
    }

    &--playing {
      background-color: $color-red-light;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@include media($media-size-mobile) {
  .selector-playback {
    width: 100%;
    max-width: none;
    @include flex(flex-start, center, row);
    
    &__title {
      font-size: $font-size-14;
      width: 35% !important;
    }

    &__content {
      width: 65%;
      margin-top: 0;
    }

    &__bpm-input-wrapper {
      min-width: 70px;
    }

    &__bpm-label {
      font-size: $font-size-12;
    }

    &__bpm-input {
      padding: $spacing-8 $spacing-8;
      font-size: $font-size-12;
    }
  }
}
