@import "../../../styles/variables";

.fifth-selector {
  position: relative;
  width: 90%;
  max-width: 320px;
  @include flex(space-between, center, row);

  &__title {
    font-size: 24px;
  }

  &__select {
    position: relative;
    height: auto;
    color: $color-dark-100;
  }
}
