@import "../../../styles/variables";

.fifth-selector {
  position: relative;
  width: 90%;
  max-width: 320px;
  @include flex(space-between, center, row);

  &__title {
    font-size: $font-size-24;
  }

  &__select {
    position: relative;
    height: auto;
    color: $color-dark-100;
  }
}

@include media($media-size-mobile) {
  .fifth-selector {
    width: 100%;
    max-width: none;

    &__title {
      font-size: $font-size-18;
    }
  }
}