.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  @include flex(center, center, column);
  z-index: 2;

  p {
    font-size: 12px;
    font-weight: $font-weight-semibold;
    color: $color-dark-100;
    text-align: center;
    margin-top: 12px;

    a {
      font-size: 12px;
      font-weight: $font-weight-bold;
      color: $color-light-200;
      text-align: center;
      padding: 0;

      &:hover {
        color: $color-light-100;
      }
    }
  }
}
