@import "../../styles/commons";

.practitioner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-dark;
  overflow: hidden;
}

/**
 * Components
*/
@import "../../components/practitioner/Layout/index.scss";
@import "../../components/practitioner/SelectorExercises/index.scss";
@import "../../components/practitioner/SelectorPlayback/index.scss";
@import "../../components/commons/Matrix/index.scss";
@import "../../components/commons/Template/index.scss";
