.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  @include flex(space-between, center, row);
  box-sizing: border-box;
  padding: $spacing-40;
  z-index: 999;

  &__left,
  &__center,
  &__right {
    position: relative;
    height: 40px;
  }

  &__left {
    a {
      @include flex(flex-start, center, row);

      h3 {
        margin-left: $spacing-24;
        margin-top: -2px;
      }
    }
  }

  p {
    font-size: $font-size-12;
    font-weight: $font-weight-bold;
    color: $color-dark-100;
    text-align: center;

    a {
      font-size: $font-size-12;
      font-weight: $font-weight-bold;
      color: $color-light-200;
      text-align: center;
      padding: 0;

      &:hover {
        color: $color-light;
      }
    }
  }
}

@include media($media-size-mobile) {
  .footer {
    height: 80px;
    padding: $spacing-20;
    background-color: $color-dark;

    &__center,
    &__right{
      display: none;
    }

    h3 {
      display: none;
    }
  }
}
