@import "../../styles/commons";

.fifthtor {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-dark;
  overflow: hidden;
}

/**
 * Components
*/
@import "../../components/fifthtor/Layout/index.scss";
