@import "../../../styles/variables";

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25%;
  @include flex(center, center, column);
  z-index: 2;

  &__logo {
    max-width: 640px;
    height: auto;
    @include flex(center, center, row);
    z-index: 1;
  }
}

@include media($media-size-mobile) {
  .header {
    position: fixed;
    height: 100px;
    padding: $spacing-20;
    background-color: $color-dark;
    border-bottom: $border-line;

    &__logo {
      height: 100%;
      width: auto;
      max-width: none;
    }
  }
}
