.tools {
  position: relative;
  width: 100%;
  @include flex(center, center, column);

  &__items {
    position: relative;
    width: 100%;
    height: 180px;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
    @include flex(center, center, column);
    margin: $spacing-12 0;
    background-color: $color-dark-400;
    transition: $transition;

    &-image {
      width: 75%;
      height: auto;
      transition: $transition;
    }

    &:hover {
      transform: scale(1.025);
      background-color: $color-dark-300;
      transition: $transition;
    }
  }
}

@include media($media-size-mobile) {
  .tools {
    &__items {
      height: 140px;
    }
  }
}
