@import "../../styles/commons";

.scaletor {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-dark;
  overflow: hidden;
}

/**
 * Components
*/
@import "../../components/scaletor/Layout/index.scss";
@import "../../components/commons/Matrix/index.scss";
@import "../../components/scaletor/NotesHistory/index.scss";
@import "../../components/scaletor/Selector/index.scss";
@import "../../components/scaletor/SelectorDouble/index.scss";
@import "../../components/scaletor/SelectorDoubleTemplate/index.scss";
@import "../../components/commons/Template/index.scss";
