// Colors

// Base
$color-light: #fff;
$color-dark: #010101;

// Light
$color-light-100: #fbfdff;
$color-light-200: #d6dce3;
$color-light-300: #b6bec9;
$color-light-400: #858d9c;

// Dark
$color-dark-100: #474e59;
$color-dark-200: #1f2226;
$color-dark-300: #191b1e;
$color-dark-400: #101316;

// Colors
$color-violet-dark: #3F0D97;
$color-violet-light: #4F10BC;
$color-orange-dark: #cc4b00;
$color-orange-light: #f16e21;
